<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" style="height: 150px;" src="<%=url%>" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><%= nombre %></h5>
            <h5 class="card-title">precio: $<%= precio %></h5>
            <h5 class="card-title">descripcion: <%= descripcion %></h5>            
          <a href="/delete/<%=id%>" class="btn btn-primary">
            <button>
                eliminar
            </button>
        </a>
        </div>
    </div>    
</body>
</html>