<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <h1>lista de celulares</h1>
<div class="container" style="display:flex;flex-wrap:wrap;">
        <% for(var i = 0; i < list.length; i++) { %>
            <div class="card" style="width: 30%; margin: 5px; height: 500px">
                    <img class="card-img-top" 
                        src="<%= list[i].fotoUrl %>" 
                        alt="Card image cap"
                        style="height:300px;width:90%;">
                    <div class="card-body">
                      <h5 class="card-title"><%= list[i].nombre %></h5>
                      <p class="card-text"><%= list[i].precio %></p>
                      <a href="/celulares/<%= list[i].id%>" class="btn btn-primary">Go</a>
                      <a href="/edit/<%= list[i].id%>" class="btn btn-primary">edit</a>
                    </div>
            </div>
        <% } %>
</div>
    
</body>
</html>